<ion-header [translucent]="true">
  <ion-toolbar  color="azul">
    <ion-title color="light">
      Cadastro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="azulzin" [fullscreen]="true">
  <div class="partes">
  <p class="campos">Nome:</p>
  <ion-input clearInput value="OBS: Sem o último sobrenome"></ion-input>
  </div>

  <div class="partes">
  <p class="campos">Sobrenome:</p>
  <ion-input clearInput value="OBS: Apenas o último sobrenome"></ion-input>
  </div>

  <div class="partes">
  <p class="campos">Data de Nascimento:</p>
  <ion-input clearInput value="EX: 10/02/2002"></ion-input>
  </div>

  <div class="partes">
  <p class="campos">Gênero:</p>
  <ion-input clearInput value="OBS: Escrever pos extenso, sem siglas"></ion-input>
  </div>

  <div class="partes">
  <p class="campos">Estado Civil:</p>
  <ion-input clearInput value="OBS: Apenas solteiro(a) ou casado(a)"></ion-input>
  </div>

  <div class="partes">
  <p class="campos">Cidade e estado:</p>
  <ion-input clearInput value="Ex: Tatuí - SP"></ion-input>
  </div>

  <div class="partes">
  <p class="campos">CPF:</p>
  <ion-input clearInput value="OBS: Apenas solteiro(a) ou casado(a)"></ion-input>
  </div>

</ion-content>
